{% extends "base.html" %}

{% block body %}
<div class="container text-light d-flex justify-content-center align-items-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-12" style="width:25rem">
            <div class="card bg-dark text-light border-light p-2 rounded">
                <div class="card-body text-center">
                    <h4 class="card-title mb-4">Password Reset Sent</h4>
                    <p>An email has been sent with instructions to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
