{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container text-light d-flex justify-content-center align-items-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-12" style="width:25rem" >
            <div class="card bg-light text-dark border-light p-2 rounded">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4 text-success ">Change Password</h4>
                    <form method="POST" > 
                        {% csrf_token %} 
                        {{ form|crispy }}
                        <div class="d-grid">
                            <button type="submit" value="changepassword" class="btn btn-warning btn-block">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
